.container {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

.container_width {
    width: 100%;
    max-width: var(--scl-grid-max-width);
}

.breadcrumbs{
    margin-top: 1rem;
    margin-bottom: 1rem;
}