.container {
    margin-top: 0.5rem;
    background-image: url('/open-telekom-cloud-partner-overview-stage-allgemein.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_container {
    background: rgba(0,0,0,0.7);
    text-align: center;
    max-width: 500px;
    padding: 1rem;
}

.h1 {
    color: white;
    margin-top: 0;
}

.p {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
    
}

.image {
    margin-top: -2rem;

}