.results_container {
    margin-top: 1.5rem;
}

.result:hover {
    background-color: var(--telekom-color-background-surface-subtle);
}

.atag {
    text-decoration: none;
}

.header {
    font-size: 1.4rem;
    font-weight: bold;
    color: #383838;
    margin-top: 1rem;
}

.link {
    font-size: 1rem;
    color: var(--telekom-color-text-and-icon-link-standard);
}

.highlight {
    color: #383838;
    font-size: 1.125rem;
}

@media (prefers-color-scheme: dark) {
    .header {
        color: var(--telekom-color-text-and-icon-standard);
    }
    .highlight {
        color: var(--telekom-color-text-and-icon-standard);
    }
}
